<p id="notice"><%= notice %></p>

<p>
  <strong>Totalp:</strong>
  <%= @ticket.totalp %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @ticket.admin_user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @ticket.product %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @ticket.sell %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
