<h1>Listing categprods</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categprods.each do |categprod| %>
      <tr>
        <td><%= categprod.type %></td>
        <td><%= link_to 'Show', categprod %></td>
        <td><%= link_to 'Edit', edit_categprod_path(categprod) %></td>
        <td><%= link_to 'Destroy', categprod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categprod', new_categprod_path %>
