<%= form_for(@facture) do |f| %>
  <% if @facture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facture.errors.count, "error") %> prohibited this facture from being saved:</h2>

      <ul>
      <% @facture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :totalfac %><br>
    <%= f.text_field :totalfac %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
