<h1>Listing factures</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Totalfac</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @factures.each do |facture| %>
      <tr>
        <td><%= facture.fecha %></td>
        <td><%= facture.totalfac %></td>
        <td><%= facture.client %></td>
        <td><%= link_to 'Show', facture %></td>
        <td><%= link_to 'Edit', edit_facture_path(facture) %></td>
        <td><%= link_to 'Destroy', facture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facture', new_facture_path %>
