<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @product.clave %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Avaible:</strong>
  <%= @product.avaible %>
</p>

<p>
  <strong>Pricepublic:</strong>
  <%= @product.pricepublic %>
</p>

<p>
  <strong>Pricedesc:</strong>
  <%= @product.pricedesc %>
</p>

<p>
  <strong>Pricemaxd:</strong>
  <%= @product.pricemaxd %>
</p>

<p>
  <strong>Categproduc:</strong>
  <%= @product.categproduc %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
