<p id="notice"><%= notice %></p>

<p>
  <strong>Cant:</strong>
  <%= @sell.cant %>
</p>

<p>
  <strong>Totalp:</strong>
  <%= @sell.totalp %>
</p>

<p>
  <strong>State:</strong>
  <%= @sell.state %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sell.product %>
</p>

<p>
  <strong>Facture:</strong>
  <%= @sell.facture %>
</p>

<%= link_to 'Edit', edit_sell_path(@sell) %> |
<%= link_to 'Back', sells_path %>
